
body{
    flex:block;
    background-color:black;
    font-family: Helvetica;
    color: seashell;
    font-size: 22px;
    opacity:0.9;
    text-align:center;
    z-index: 1;
    width:1250px;


}

.headercontainer{
    display:flex;
    justify-content:space-between;
    flex-flow: row;
    align-items:center;
    z-index:5;
    position:fixed;
    border-bottom: solid 1px seashell;
    flex-direction:row;
    background-color:black;
    width:100%;
    height:69px;
    top:0;
}
.headercontainer img{
    height:50px;
    margin-left: 10px;
}
nav{
    display:flex;
    color:seashell;
    width:400px;
    justify-content: space-around;
    text-decoration: underline;
}

.mission-container{
    display:flex;
    position:relative;
    background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    justify-content:center;
    align-items:center;
    flex-flow:column;
    height:770px;
    width:1200px;
    margin:auto;
}
.ourmission {
    background-color:black;
    width:1200px;
    flex-wrap:wrap;
}
.locations-container{
    background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
    height:500px;
    width:1200px;
    padding-top:70px;
    margin:auto
}
.tea-container {
    position:relative;
    width:1000px;
    justify-content: center;
    align-items: center;
    background-repeat:no-repeat;
    background-position: center;
    margin:auto;
}

.tea-container img{
    width:300px;
    height:200px;
}
.box h4{
    margin-top:10px;
}
.spacearoundcontainer {
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;

}

.centercontainer {
    display:flex;
    justify-content: center;
    flex-wrap:wrap;

}

.spacearoundcontainer  span h3 {
   margin-top:10px;
}

.centercontainer span h3 {
  margin-top:10px;
}
.centercontainer img{
    margin-right:15px;
}

.address {
    display:flex;
    flex-flow: column;
    justify-content:center;
    flex-basis: 280px;
    margin:5px 20px;
    padding:10px;
    background-color:black;
    width:300px;
    height:281.02px;
    opacity: 1;
}

.addressescontainer {
    display:flex;
    justify-content: center;
    align-content: center;
    flex-flow: row;

}
.locations-container h2 {
   margin:0 auto;
}

.footer{
    text-align: left;
    margin-left:20px;
}

.endnote {
    height:200px;
}
.endnote h2{
    padding:10px;
    margin:0px;
}
